# Lecture notes for week 1

A useful link is the [Markdown cheat sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet).

To make a word **bold** use two asterisks.

To make a word *italic* use one asterisk.

To make an ordered list, just use numbers.
1. Here is one item
2. Here is another item

Use a single asterisk or a minus or plus sign for an un-ordered list.
* Here is an item
* Here is another item

You can add code to a markdown cell using the reverse apostrophe (right above the tab key).  Ex:  `3+4`
You can also add a block of code by enclosing it in triple reverse apostrophes
```
a=1
b=2
c=a+b
```

Tables are constructed by using `|` and `-` as vertical and horizontal dividing lines.
```
| Header1 | Header2 | Header3 | Header4 |
|---------|---------|---------|---------|
| 1       | 2       | 3       | 4       |
| 5       | 6       | 7       | 8       |
```

| Header1 | Header2 | Header3 | Header4 |
|---------|---------|---------|---------|
| 1       | 2       | 3       | 4       |
| 5       | 6       | 7       | 8       |

## Some basic Python

To use python, we will use code cells.

### Start with basic arithmetic

Addition and subtraction:

In [1]:
34 + 52

86

In [2]:
65 - 47

18

In [3]:
47 - 65

-18

In [4]:
47 * 65

3055

In [5]:
3055 / 65

47.0

Instead of ^ for exponents, we use ** instead.

In [6]:
2 ** 3.7

12.99603834169977

Notice the difference between the following:

In [1]:
3**50

717897987691852588770249

In [2]:
3.0**50

7.178979876918526e+23

When either the base or exponent is a float, then the answer is a float given in scientific notation.  While, if both the base and exponent are integers, python will use exact integer arithmetic to produce an integer output.

### Data types
There are several data types we will use in this class.
* Float
* Integer
* String
* Boolean

Float stands for floating point number.

We can convert between float and integer.

In [7]:
int(47.0)

47

In [8]:
float(47)

47.0

The `int()` function will chop off the decimal part of a float.

In [9]:
int(47.5)

47

In [10]:
int(47.9)

47

You can also use the `round()` function to round to the nearest integer.

In [3]:
round(47.9)

48

In [4]:
round(47.2)

47

In [5]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

We can pass the function `round()` an additional argument to tell it how many decimal digits to round to.

In [6]:
round(47.4657,2)

47.47

Use `type()` to see what data type you are working with.

In [11]:
type(47)

int

In [12]:
type(47.0)

float

For integers, we have some additional arithmetic.

In [13]:
465 // 47

9

In [14]:
465 % 47

42

When dividing the integer 465 by the integer 47, you get a quotient of 9 and a remainder of 42.

In [15]:
9*47 + 42

465

In [16]:
42 + 9*47

465

465 is congruent to 42 modulo 47

## Using variables

In [8]:
x = 42
y = 65

In [18]:
x + y

107

In [19]:
z = x+y

In [20]:
x+65

107

In [21]:
x ** 2

1764

Variables do not have to be single letters.  You can use a combination of letters, numbers, and some symbols.  Variables cannot start with a number though.

In [22]:
var1 = 42
_variable = 65

In [23]:
1var = 337

SyntaxError: invalid syntax (<ipython-input-23-e96b9363bb6b>, line 1)

You can overwrite/update a variable in the following way.

In [9]:
x = x + 2
x

44

Here is a short cut.  Each time you execute the following cell, it will add 2 to the value stored in the variable `x`.

In [10]:
x+=2

## Lists and tuples

Examples of a list:

In [24]:
list1 = [23,47,65,3,-10]

In [25]:
list1

[23, 47, 65, 3, -10]

Indexing of lists and tuples starts at 0.

In [26]:
list1[0]

23

In [27]:
list1[1]

47

In [28]:
list1[0:2]

[23, 47]

The following syntax gives us all the entries of the list starting from index 2 *up to* index 4, but **not** including index 4.

In [29]:
list1[2:4]

[65, 3]

The following will give us all the entries starting with index 2 and going to the end of the list.

In [30]:
list1[2:]

[65, 3, -10]

Similarly we can start at the beginning and get all the entries up to index 4, not including index 4.

In [31]:
list1[:4]

[23, 47, 65, 3]

A negative index loops around and starts from the end of the list.

In [32]:
list1[-1]

-10

In [33]:
list1[-2]

3

In addition to lists, we have tuples:

In [34]:
tup1 = (34,54,67,92,0.65)

Accessing entries of the tuple is exactly the same as for lists.

In [35]:
tup1[3]

92

In [36]:
tup1[2:4]

(67, 92)

The difference between tuples and lists is that tuples cannot be changed once they are created.
Lists can be changed.

In [37]:
list1.append(37.5)

In [38]:
list1

[23, 47, 65, 3, -10, 37.5]

In [39]:
list1.remove(3)
list1

[23, 47, 65, -10, 37.5]

Tuples cannot be changed.

In [40]:
tup1.append(37.5)

AttributeError: 'tuple' object has no attribute 'append'

Tuples are good for storing parameters you will be using for your code, but not changing.

## Strings
String are lists of characters, strung together.  We use single or double quotes to define strings.

In [41]:
str1 = 'This is my string.'

In [42]:
str1

'This is my string.'

In [43]:
print(str1)

This is my string.

In [44]:
str2 = "String"

You can convert to the string data type using `str()`.

In [12]:
a = 47.568
type(a)

float

In [13]:
b = str(47.568)
type(b)

str

In [15]:
c = float(b)
type(c)

float

When converting from `str` to either `int` or `float`, make sure the data would make sense as the type you are trying to convert to.

In [16]:
int('A string.')

ValueError: invalid literal for int() with base 10: 'A string.'

There is some "arithmetic" that you can do with strings.

In [45]:
str1 + str2

'This is my string.String'

In [46]:
str2 + str1

'StringThis is my string.'

String "addition" is not commutative.

In [47]:
str1 + ' ' + str2

'This is my string. String'

In [48]:
str2 * 2

'StringString'

In [49]:
str2 + str2

'StringString'

In [50]:
str2 * 10

'StringStringStringStringStringStringStringStringStringString'

In [51]:
10 * str2

'StringStringStringStringStringStringStringStringStringString'

String "multiplication" by an integer is commutative.

You cannot "multiply" two strings.

In [52]:
str1 * str2

TypeError: can't multiply sequence by non-int of type 'str'

Strings are **lists** of characters, strung together.  So we can access the individual characters using the same syntax.

In [53]:
str1[0]

'T'

To get the first four characters, we use the following.

In [54]:
str1[0:4]

'This'

Punctuation counts as characters.

In [55]:
str1[-1]

'.'

As do spaces.

In [56]:
str1[4]

' '

Strings also have "methods" associated to them.  One of which is the split() method, which splits a string at the spaces and returns the list of words.

In [57]:
str1.split()

['This', 'is', 'my', 'string.']

You can also make a list of the individual characters.

In [58]:
list(str1)

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'm',
 'y',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '.']

Notice that this returns a list of one character strings.

## Let's get back to math

In [59]:
sin(30)

NameError: name 'sin' is not defined

We need to load sin function from the math module to use sin().

In [1]:
from math import sin

In [3]:
sin(30)   # Keep in mind that the default for angles is radians, not degrees.

-0.9880316240928618

We may have `sin`, but we can't us any other function that is part of the math module.

In [4]:
cos(30)

NameError: name 'cos' is not defined

In [5]:
import math

In [6]:
cos(30)

NameError: name 'cos' is not defined

In order to use the functions contained in the module, we must tell Python which module the function belongs to.

In [7]:
math.cos(30)

0.15425144988758405

Often, it will be really helpful to abbreviate the modules.  This helps keep your code from getting cluttered with the module name all over the place.

In [8]:
import math as m

In [9]:
m.sin(m.pi/6)   # We can also call pi from the module to allow us to enter angles in radians

0.49999999999999994

In [10]:
m.cos(m.pi/6)

0.8660254037844387

In [69]:
m.log(30)

3.4011973816621555

In [70]:
help(m.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [71]:
m.log(30,10)

1.4771212547196624

## More Jupyter Stuff

Notebook extensions gives additional functionality to Jupyter notebooks
* spell checker
* LaTeX in markdown cells

In [1]:
pip install jupyter_contrib_nbextensions

Requirement already satisfied: jupyter_contrib_nbextensions in c:\users\richard\anaconda3\lib\site-packages (0.5.1)
Requirement already satisfied: traitlets>=4.1 in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (4.3.3)
Requirement already satisfied: notebook>=4.0 in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (6.0.3)
Requirement already satisfied: jupyter-contrib-core>=0.3.3 in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.3.3)
Requirement already satisfied: jupyter-core in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (4.6.1)
Requirement already satisfied: lxml in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (4.5.0)
Requirement already satisfied: pyyaml in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (5.3)
Requirement already satisfied: nbconvert>=4.2 in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (5.6.1)
Requirement already satisfied: jupyter-nbextensions-configurator>=0.4.0 in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.4.1)
Requirement already satisfied: tornado in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (6.0.3)
Requirement already satisfied: ipython-genutils in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: jupyter-highlight-selected-word>=0.1.1 in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (0.2.0)
Requirement already satisfied: jupyter-latex-envs>=1.3.8 in c:\users\richard\anaconda3\lib\site-packages (from jupyter_contrib_nbextensions) (1.4.6)
Requirement already satisfied: decorator in c:\users\richard\anaconda3\lib\site-packages (from traitlets>=4.1->jupyter_contrib_nbextensions) (4.4.1)
Requirement already satisfied: six in c:\users\richard\anaconda3\lib\site-packages (from traitlets>=4.1->jupyter_contrib_nbextensions) (1.14.0)
Requirement already satisfied: terminado>=0.8.1 in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (0.8.3)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (5.3.4)
Requirement already satisfied: prometheus-client in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (0.7.1)
Requirement already satisfied: jinja2 in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (2.11.1)
Requirement already satisfied: ipykernel in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (5.1.4)
Requirement already satisfied: nbformat in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (5.0.4)
Requirement already satisfied: Send2Trash in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (1.5.0)
Requirement already satisfied: pyzmq>=17 in c:\users\richard\anaconda3\lib\site-packages (from notebook>=4.0->jupyter_contrib_nbextensions) (18.1.1)
Requirement already satisfied: setuptools in c:\users\richard\anaconda3\lib\site-packages (from jupyter-contrib-core>=0.3.3->jupyter_contrib_nbextensions) (45.2.0.post20200210)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\richard\anaconda3\lib\site-packages (from jupyter-core->jupyter_contrib_nbextensions) (227)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\richard\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.8.4)
Requirement already satisfied: bleach in c:\users\richard\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (3.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\richard\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.3)
Requirement already satisfied: pygments in c:\users\richard\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (2.5.2)
Requirement already satisfied: defusedxml in c:\users\richard\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.6.0)
Requirement already satisfied: testpath in c:\users\richard\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\richard\anaconda3\lib\site-packages (from nbconvert>=4.2->jupyter_contrib_nbextensions) (1.4.2)
Requirement already satisfied: ipython in c:\users\richard\anaconda3\lib\site-packages (from jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (7.12.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\richard\anaconda3\lib\site-packages (from jupyter-client>=5.3.4->notebook>=4.0->jupyter_contrib_nbextensions) (2.8.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\richard\anaconda3\lib\site-packages (from jinja2->notebook>=4.0->jupyter_contrib_nbextensions) (1.1.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\richard\anaconda3\lib\site-packages (from nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (3.2.0)
Requirement already satisfied: webencodings in c:\users\richard\anaconda3\lib\site-packages (from bleach->nbconvert>=4.2->jupyter_contrib_nbextensions) (0.5.1)
Requirement already satisfied: jedi>=0.10 in c:\users\richard\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.14.1)
Requirement already satisfied: pickleshare in c:\users\richard\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\richard\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.4.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\richard\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (3.0.3)
Requirement already satisfied: backcall in c:\users\richard\anaconda3\lib\site-packages (from ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\richard\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (0.15.7)
Requirement already satisfied: attrs>=17.4.0 in c:\users\richard\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (19.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\richard\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (1.5.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\richard\anaconda3\lib\site-packages (from jedi>=0.10->ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.5.2)
Requirement already satisfied: wcwidth in c:\users\richard\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter-latex-envs>=1.3.8->jupyter_contrib_nbextensions) (0.1.8)
Requirement already satisfied: zipp>=0.5 in c:\users\richard\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0->jupyter_contrib_nbextensions) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

### LaTeX in markdown cells

Use `$` for in-line math `$ 3x^2 + 26 = y $` produces $ 3x^2 + 26 = y $

To emphasize an equation giving it its own line as well as a number, we enclose the equation in `$$`:

`$$ \sum_{n=1}^{\infty} \frac{1}{n^2} = \frac{\pi^2}{6} $$` produces

$$ \sum_{n=1}^{\infty} \frac{1}{n^2} = \frac{\pi^2}{6} $$

`_` for subscripts $ a_n $ <br>
`^` for superscripts $ x^2 $ <br>
`\,` for some extra space $ xy $ and $ x\,y $ <br>
`\frac{a}{b}` for fractions $ \frac{a}{b} $ <br>
`\int_a^b` or `\int` for integrals with and without bounds $ \int_a^b f(x)\, dx $ and $ \int f(x)\, dx $ <br>
`\sum` for summations $ \sum $, $ \sum_a $, $ \sum^b $, $ \sum_a^b $ <br>
`\sqrt{}` for square roots $ \sqrt{-1} = i $ <br>
`\sin(), \cos(), \log()` standard math functions $ \sin(x), \cos(x), \log(x) $ <br>
`\alpha, \beta, \gamma, ...` for Greek letters $ \alpha, \beta, \gamma $ <br>
`\omega, \Omega` to get capital Greek letters, capitalize the name $ \omega, \Omega $ <br>
`(), [], \{ \}` for standard brackets $ (), [], \{ \} $ <br>
`\left, \right` make brackets scale to the size of whats inside $ (\frac{a}{b}), \left(\frac{a}{b}\right) $ <br>
`\left\lbrace, \right\rbrace` for scaling curly braces $ \left\lbrace\frac{a}{b}\right\rbrace $ <br>

#### Code comments

In code cells, it is good practice to put comments in your code to tell someone who is reading it what you are trying to accomplish.  Good comments are
* short,
* to the point,
* and convey precisely what your code is supposed to do.

Comments can be inserted into code by using the `#` symbol.  For example:

In [35]:
a = 3      # Set the value of a
b = 4      # Set the value of b
c = a + b  # Add a and b and store in the variable c

In the line where you insert a `#`, everything to the right of the `#` will be ignored by Python.

## Loops

Add up the numbers from 1 up through 100 in python.

`for` loops allow us to execute a block of code recursively a set number of times.

Here is an example:

In [36]:
sum = 0              # initialize the variable we are storing the sum in
for i in range(101): # stepping though the numbers 0,1,2,...,100
    sum +=i          # at each step we add the number i

In [37]:
sum

5050

There three key things to remember about `for` loops
1. need an iterable like `range(n)` to step though
2. colon after the first line of the loop `for i in range(101):`
3. indent the block of code to be iterated

Lists can be used as iterables.

In [38]:
list_of_words = ['Bananas','are','good','for','you']

In [39]:
sentence = ''              # Start with an empty sentence
for word in list_of_words: # steps through the list of words
    sentence += word + ' ' # concatenates the current word and a space to the sentence

In [40]:
print(sentence)

Bananas are good for you

#### Add up just the odd numbers from 1 through 100

We want to skip the even numbers in our `for` loop.
* just step through the numbers 1 through 50 and use a formula for producing odd numbers
* at each step, check to see if the current number is even, if it is skip it

In [41]:
odd_sum = 0
for i in range(50):    # Only step through the numbers 0,1,...,49
    odd_sum += (2*i+1) # Uses a formula to add the next odd number

In [42]:
odd_sum

2500

## Boolean

Mathematics is more about logic than it is about numbers.  All mathematical statements have a logic value:

Type the following into a code cell:

`3<4` less than

`5>=4` greater or equal to

`5>5` greater than

`2**3 == 8` equivalent to

`2*3 == 8`

`4 != 5` not equivalent to

`'string' == 'st'+'ring'`

Pick one of these statements and put it in the `type()` function.

In [43]:
type(3<4)

bool

`bool` is the data type in python that stores logic values.  It can either be `True` or `False`.

The boolean data type allows us to introduce logic checks into our code using `if` statement.

Example:

In [44]:
x=5
y=4

In [45]:
if x<y:
    print('x is less than y')  # executes this code if statement is True

`if` statement execute a block of code if the statement is `True`.

`if-else` statement will execute one block of code if the statement is `True` and a different block if it is `False`.

In [46]:
if x<y:
    print('x is less than y')     # executes this code if statement is True    
else:
    print('x is not less than y') # executes this code if statement is False

x is not less than y

`if-elif-else` statement will execute any number of code blocks based the logic values of several statements.

In [47]:
if x<y:
    print('x is less than y')    # executes if x<y is True
elif x>y:
    print('x is greater than y') # executes if x>y is True
else:
    print('x is equal to y')     # executes if both are false

x is greater than y

Back to adding up odd numbers...

Check if a number is divisible by 2 inside the `for` loop.

In [48]:
odd_sum1 = 0           # Initialize
for i in range(100):   # Stepping through 0,1,2,...,99
    if i % 2 == 1:     # Checks if i is odd
        odd_sum1 += i  # If it is odd, adds it to the sum
    else:              # Otherwise
        pass           # Does nothing

In [49]:
odd_sum1

2500

#### Add up the numbers NOT divisible by 5 from 1 through 100

In [50]:
no_5s_sum = 0
for i in range(101):
    if i % 5 == 0:
        pass
    else:
        no_5s_sum += i

In [51]:
no_5s_sum

4000